main {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  min-height: 650px;
  max-width: 100%;
  background-image: url(./images/headphones_hero_1.jpg);
  color: white;
}

.img-container {
  width: 160px;
}

nav {
  width: 1000px;
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

ul {
  display: flex;
  gap: 2rem;
}

ul li a {
  font-size: 14px;
}

.text-box-container {
  width: 630px;
  margin: 0 auto;
  margin-top: 12rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.text-box-container h1 {
  font-size: 32px;
  font-weight: bolder;
  line-height: 1.2;
}

.text-box-container h2 {
  font-size: 16px;
  font-weight: 500;
}

button {
  color: white;
  background-color: #ff6565;
  text-align: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 14px;
}

p {
  font-size: 16px;
  font-weight: lighter;
  padding-top: 1rem;
}

.icon {
  display: none;
}

/* responsiveness */
@media screen and (max-width: 500px) {
  main {
    width: 100%;
  }

  nav {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
    height: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    width: 100%;
    display: none;
    margin: 0 auto;
    text-align: center;
  }

  .text-box-container {
    width: 75%;
    margin-top: 5rem;
    gap: 2rem;
  }

  .text-box-container h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .text-box-container h2 {
    font-size: 13px;
    width: 60%;
    margin: 0 auto;
    padding-top: 15px;
  }

  header {
    position: relative;
  }

  .icon {
    display: block;
    position: absolute;
    top: 3rem;
    cursor: pointer;
    left: 2rem;
    background-color: yellow;
  }

  .img-container {
    width: 15rem;
  }

  ul li a {
    font-size: 18px;
  }
}

/* section two */

.second_section {
  margin: 0 auto;
  margin-block: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7rem;
}
.textbox {
  width: 630px;
  margin: 0 auto;
  text-align: center;
}
.flex_images {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-basis: 20%;
}

/* responsiveness */
@media screen and (max-width: 500px) {
  .second_section {
    margin: 0 auto;
    margin-block: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
  }
  .textbox {
    width: 75%;
  }
  .flex_images {
    width: 50%;
    flex-direction: column;
  }
  .flex_images p {
    font-size: 1rem;
  }
  .flex_images h4 {
    font-size: 1.2rem ;
  }

  .second_section h2 {
    font-size: 1.8rem;
}
}
